<%- include("../partials/_header-dashboard") %>



<!-- ================ header: #Header ================  -->
<header id="Header" class="bg-secandary">
	<div class="container py-4 mb-4">
		<h1>
			<i class="fas fa-inbox" style="color:#28a745;"></i> <%= course._id %> レシピの詳細情報</h1>
	</div><!-- /.container -->
</header><!-- /#Header -->


<!-- ================ section:#Dashboard-detail  ================  -->
<section id="Dashboard-wrap" class="mb-5">
	<div class="container">
		<div class="row">

			<!-- **** #Dashboard-detail ****  -->
			<div class="col" id="Dashboard-detail">

				<table class="table border text-nowrap">
					<tr>
						<th class="bg-success text-light text-center">レシピID</th>
						<td><%= course._id %></td>
					</tr>
					<tr>
						<th class="bg-success text-light text-center">タイトル</th>
						<td><%= course.title %></td>
					</tr>
					<tr>
						<th class="bg-success text-light text-center">レシピ説明</th>
						<td>
							<textarea class="form-control" name="description" cols="30" rows="7" placeholder="コース説明"
								disabled><%= course.description %></textarea>
						</td>
					</tr>
					<tr>
						<th class="bg-success text-light text-center">材料</th>
						<td><%= course.items %></td>
					</tr>
				</table>

				<a href="/dashboard/courses" class="btn btn-outline-secondary">レシピ情報一覧へ戻る</a>
				<a href="<%= `/dashboard/courses/${course._id}/edit` %>" class="btn btn-outline-primary">編集</a>
				<a href="<%= `/dashboard/courses/${course._id}/delete?_method=DELETE` %>"
					class="btn btn-outline-danger">削除</a>


			</div>
		</div><!-- /.col #Dashboard-list -->

	</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /#Dashboard-wrap (#Dashboard-list / #Sidenav-btn)  -->

<%- include("../partials/_footer-dashboard") %>